@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme inline {
  --font-header: var(--font-instrument-serif);
  --font-mono: var(--font-jetbrains-mono);
  --font-sans: var(--font-geist-sans);

  --text-2xs: 0.65rem;
  --text-2xs--line-height: calc(1 / 0.8);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-border: var(--border);
  --color-shadow_c: var(--shadow);
  --color-header: var(--header);
  --color-pill: var(--pill);
  --color-destructive: var(--destructive);
}

@layer base {
  :root {
    --background: hsl(0 0% 95%);
    --foreground: hsl(0 0% 0%);
    --primary: hsl(222, 100%, 20%);
    --secondary: hsl(0 0% 0%);
    --accent: hsl(215, 100%, 73%);
    --muted: hsl(0, 0%, 20%);
    --border: color-mix(in hsl, var(--foreground) 46%, white);
    --shadow: color-mix(in hsl, var(--foreground) 68%, white);
    --pill: hsl(0 0% 95% / 0.346);
    --fully-transparent: hsl(0 0% 95% / 0);
    --destructive: hsl(0, 100%, 70%);
  }
  html[data-theme="dark"] {
    --background: hsl(0, 0%, 5%);
    --foreground: hsl(0 0% 100%);
    --primary: hsl(220, 100%, 71%);
    --secondary: hsl(0 0% 100%);
    --accent: hsl(215, 83%, 69%);
    --muted: hsl(0, 0%, 90%);
    --border: color-mix(in hsl, var(--foreground) 35%, black);
    --shadow: color-mix(in hsl, var(--foreground) 30%, black);
    --pill: hsl(0 0% 23.9% / 0.346);
    --fully-transparent: hsl(0 0% 5% / 0);
    --destructive: hsl(0, 94%, 20%);
  }
}

@layer base {
  * {
    border-color: var(--color-border);
    cursor: none;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jetbrains-mono), monospace, Arial, Helvetica,
    sans-serif;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

/* html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
} */

::selection {
  background-color: var(--primary);
  color: var(--background); /* set text color */
}

/* Hide scrollbar class */
.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
.no-scrollbar::-webkit-scrollbar,
.no-scrollbar::-webkit-scrollbar-button {
  display: none; /* Chrome */
}

.underline-fade {
  background-image: linear-gradient(currentColor, currentColor);
  background-size: 0% 2px;
  background-repeat: no-repeat;
  background-position: 0 100%;
  transition: background-size 0.3s ease, background-position 0.3s ease,
    color 0.2s ease;
  text-decoration: none;
}
.underline-fade:hover {
  background-size: 100% 2px;
  background-position: 0 100%; /* You can animate this too if needed */
}

/* Default (mobile-first) values */
/* :root {
} */

/* Desktop overrides (Tailwind's 'sm' breakpoint is 640px) */
/* @media (min-width: 640px) {
  :root {0
  }
} */

.GlassContainer {
  --corner-radius: 24px;
  --base-strength: 14px;
  --extra-blur: 2px;
  --softness: 12px;
  --tint-amount: 0;
  --tint-saturation: 2;
  --tint-hue: 180deg;
  --contrast: 1;
  --brightness: 1.44;
  --invert: 10%;

  --total-strength: calc(var(--base-strength) + var(--extra-blur));
  --edge-width: calc(0.3px + (var(--softness) * 0.1));
  --emboss-width: calc((var(--softness) * 0.38));
  --refraction-width: calc((var(--softness) * 0.3));

  position: relative;
  overflow: visible;
  pointer-events: none;
}
.GlassContent {
  position: relative;
  display: block;
  z-index: 100;
  overflow: visible;
  border-radius: var(--corner-radius);
  pointer-events: auto;
}
.GlassMaterial {
  position: absolute;
  inset: 0;
  z-index: 1;
  overflow: visible;
  pointer-events: none;
}
.GlassMaterial:after {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  z-index: 3;
  overflow: hidden;
  border-radius: var(--corner-radius);
  background-color: rgba(145, 145, 145, 0.338);
}
.GlassMaterial > div {
  position: absolute;
  inset: 0;
  box-sizing: border-box;
  border-radius: var(--corner-radius);
  z-index: 2;
  overflow: hidden;
}
.GlassMaterial .GlassEdgeReflection {
  z-index: 4;
  margin: calc(var(--total-strength) * -1);
  border-radius: calc(var(--corner-radius) + var(--total-strength));
  backdrop-filter: blur(var(--total-strength)) brightness(1.2) saturate(1.2);
  padding: var(--edge-width);
  border: var(--total-strength) solid transparent;
  mask: linear-gradient(white 0 0) padding-box,
    linear-gradient(white 0 0) content-box;
  mask-composite: exclude, exclude;
}
.GlassMaterial .GlassEmbossReflection {
  backdrop-filter: blur(calc(var(--total-strength) * 1.5)) invert(0.25)
    brightness(1.11) saturate(1.2) hue-rotate(-10deg) contrast(2.3);
  padding: var(--emboss-width);
  border: 0 solid transparent;
  mask: linear-gradient(white 0 0) padding-box,
    linear-gradient(white 0 0) content-box;
  mask-composite: exclude, exclude;
}
.GlassMaterial .GlassRefraction {
  backdrop-filter: invert(0.1) brightness(1.2) contrast(1.5);
  padding: var(--refraction-width);
  border: calc(var(--emboss-width)) solid transparent;
  mask: linear-gradient(white 0 0) padding-box,
    linear-gradient(white 0 0) content-box;
  mask-composite: exclude, exclude;
}
.GlassMaterial .GlassBlur {
  backdrop-filter: blur(var(--extra-blur)) brightness(1.25);
  border-radius: calc(
    var(--corner-radius) - (var(--emboss-width) + var(--refraction-width))
  );
  margin: calc(var(--emboss-width) + var(--refraction-width));
}
.GlassMaterial .BlendLayers {
  z-index: 3;
  backdrop-filter: blur(
    calc((var(--softness) * 0.2) + (var(--extra-blur) * 0.2))
  );
}
.GlassMaterial .BlendEdge {
  z-index: 8;
  backdrop-filter: blur(calc(var(--edge-width) * 0.4)) contrast(1.6)
    saturate(1.5);
}
.GlassContainer:before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 20;
  display: block;
  border-radius: var(--corner-radius);
  backdrop-filter: invert(var(--invert));
}
.GlassMaterial:before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 11;
  display: block;
  border-radius: var(--corner-radius);
  padding: 1px;
  border: 0 solid transparent;
  background: linear-gradient(
    155deg,
    hsla(0, 0%, 100%, 0.15) 0%,
    hsla(0, 0%, 0%, 0.2) 50%,
    hsla(0, 0%, 100%, 0.15) 100%
  );
  backdrop-filter: invert(0.15) opacity(1);
  mask: linear-gradient(white 0 0) padding-box,
    linear-gradient(white 0 0) content-box;
  mask-composite: exclude, exclude;
}
.GlassMaterial .Highlight {
  z-index: 12;
  display: block;
  border-radius: var(--corner-radius);
  padding: 1px;
  border: 0 solid transparent;
  backdrop-filter: brightness(1.2) contrast(1.6) saturate(1.2) opacity(1);
  mask: linear-gradient(white 0 0) padding-box,
    linear-gradient(white 0 0) content-box;
  mask-composite: exclude, exclude;
}
.GlassMaterial .Brightness {
  z-index: 13;
  backdrop-filter: brightness(var(--brightness));
}
